/example.db
/src/python/__pycache__/UI.cpython-38.pyc
/src/python/__pycache__/actividades.cpython-38.pyc
/src/python/__pycache__/asistentes.cpython-38.pyc
/src/python/__pycache__/database.cpython-38.pyc
/src/python/__pycache__/patrocinadores.cpython-38.pyc
/src/python/__pycache__/premios.cpython-38.pyc
/src/python/secrets.py
